body{
    background-color: #EFECCA;
    font-family: 'Helvetica','Arial';
}

h1 {
    color: #C03000;
}

h2 {
    color :#4BB5C1;
}

li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border: 2px solid #660000;
    background-color: #C03000;
}

li:hover {
    background-color: #009900;
}

li a {
    color: white;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    font-weight:bold;
    color: #0000FF;
}