body{
    background-color: #EFECCA;
    font-family: 'Helvetica','Arial';
}

h1 {
    color: #C03000;
}

h2 {
    color :#4BB5C1;
}

nav li {
    text-align: center;
    border: 2px solid #660000;
    background-color: #C03000;
    display: inline-block;
}

nav li:hover, nav li a:focus {
    background-color: #009900;
}

nav li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

footer a {
    text-decoration: none;
    font-weight:bold;
    color: #0000FF;
}